@import '~bootstrap/scss/bootstrap';
@import './global/carousel.scss';
// @import "font-awesome";
// @import "animate";
// @import "magnific-popup";
$font-stack:    Helvetica, sans-serif;
$primary-color: #000;

// body {
//   font: 100% $font-stack;
//   color: $primary-color;
//   background: $primary-color;
// }
// loader:
body{
  font-family: 'Roboto Condensed', sans-serif;
}
// end loader
// particles

div#particles-js{
  position: absolute;
  background: transparent;
  z-index: 3;
  width: 100% !important;
  height: 100% !important;
}
.carousel-control-prev, .carousel-control-next{
  z-index: 4;
}
.carousel-caption {
  bottom: 22rem;
  z-index: 10;
  // background: burlywood;
  // opacity: 0.4;
  // color: black;
  border-radius: 15px;
}
.carousel-caption h1{
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
}
.bg-dark {
  background-color: #000 !important;
}
.nav-item{
  text-transform: uppercase;
  font-weight: 700;
}