<!-- <div class="close-animatedModal">CLOSE</div> -->
<div class="close-btn close-animatedModal close-modal-03" data-modal-close=""><span class="btn-line"></span></div>
<div class="lightbox-wrapper modal-content">
  <div class="container details-03">
    <!-- <div class="lightbox-close">
            <div class="close-btn animatedModal-close" data-modal-close=""><span class="btn-line"></span></div>
          </div> -->
    <div class="row">
      <div class="col-12">
        <div class="section-heading page-heading">
          <p class="section-description">Cuatro Elementos </p>
          <h2 class="section-title">ArtWork</h2>
          <div class="animated-bar"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card bg-dark text-white single-post"><img class="card-img-top h-50 w-100" src="../images/cuatro_elementos/cuatro_elementosv2_short.png" alt="cuatro elementos"><span class="content-date">Novembre 2018</span>
          <div class="card-body post-content">
            <h5 class="card-title content-title">Cuatro Elementos</h5>
            <p class="card-text content-description">L'idée de ce projet est de combiner la performance musicale de l'improvisation libre avec une application numérique mobile qui sera exploitée par le public. De cette manière, des environnements, des textures, des climats et de nouveaux paysages sonores seront générés.</p>
            <p>L'un des objectifs de ce projet est de représenter les quatre éléments de la nature : l'air, la terre, l'eau et le feu. Par exemple, la synthèse granulaire pourrait être utilisée pour représenter l'air ou l'eau.</p>
            <p>L'application est conçue et développée pour les appareils mobiles qui fonctionnent avec le système d'exploitation Android et possède une interface graphique simple et intuitive.</p>
            <p>  Il n'est pas nécessaire d'avoir une connexion internet pour installer l'application sur l'appareil et il n'est pas nécessaire d'avoir des connaissances musicales pour l'utiliser.</p>
            <p><a href="https://github.com/jpdibacco/cuatro_elementos" target="_blank">Lien</a> source code.</p>
            <p>Video:</p>
            <video controls width="100%">
                <source src="../videos/cuatro_elementos.mp4" type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
