<div class="contact-section single-section">
  <div class="row">
    <div class="col-12">
      <div class="section-heading page-heading">
        <h2 class="section-title">Contacte</h2>
        <div class="animated-bar"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Contact form-->
    <div class="col">
      <form class="contact-form" id="contact-form" action="https://formspree.io/mrgyzvpo">
        <h4 class="content-title">Message Me</h4>
        <div class="row">
          <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text" name="name"
              placeholder="Name" required=""></div>
          <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email"
              name="email" placeholder="Email" required=""></div>
          <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text" name="subject"
              placeholder="Subject" required=""></div>
          <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message" name="message"
              placeholder="Message" rows="5" required=""></textarea></div>
          <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit"
              type="submit">Send Message</button>
            <p class="contact-feedback" id="form-status"></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
