<!-- <div class="close-animatedModal">CLOSE</div> -->
<div class="close-btn close-animatedModal close-modal-00" data-modal-close=""><span class="btn-line"></span></div>
<div class="lightbox-wrapper modal-content">
  <div class="container details-00">
    <!-- <div class="lightbox-close">
            <div class="close-btn animatedModal-close" data-modal-close=""><span class="btn-line"></span></div>
          </div> -->
    <div class="row">
      <div class="col-12">
        <div class="section-heading page-heading">
          <p class="section-description">Planet Repair Squad</p>
          <h2 class="section-title">Global Game Jam 2020</h2>
          <div class="animated-bar"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card bg-dark text-white single-post"><img class="card-img-top"
            src="../images/ggj2020/planet_repair_squad.png" alt="Planet Repair Squad"><span class="content-date">31
            January - 02 February , 2020</span>
          <div class="card-body post-content">
              <h5 class="card-title content-title">Global Game Jam 2020</h5>
            <p class="card-text content-description">L'événement Global Game Jam est l'un des derniers défis auxquels
              j'ai
              participé. Il a été d'une très grande importance dans mon parcours et ce pour plusieurs raisons:</p>
              <ul>
                <li>J'ai eu l'occasion de travailler avec une personne que j'ai rencontrée lors de l'événement.</li>
                <li>Notre équipe était très petite pour ce genre d'événements, nous n'étions que deux personnes et avions une
                  charge de travail plus importante que le reste des équipes.</li>
                  <li> J'ai dû apprendre à programmer sur une plateforme que je ne connaissais pas (microstudio) et dans un
                    langage de programmation pratiquement nouveau.</li>
                    <li>J'ai beaucoup appris sur le pixel art en quelques heures.</li>
                    <li>J'ai dû programmer plusieurs étapes du jeu par moi-même:</li>
                    <ul>
                      <li>Introduction</li>
                      <li>Musique</li>
                      <li>Jeu</li>
                      <li>Effets sonores</li>
                    </ul>
              </ul>
              <p>J'ai vécu une expérience incroyable au GGJ, j'ai rencontré de nombreuses personnes qui travaillent dans le
                domaine de la 3D et j'ai pu nouer de nombreux nouveaux contacts.</p>
                <p>Nous avons remporté le prix du groupe Google Dev (voir photo). Et ce, parce que l'idée
                principale consistait à prendre soin de l'environnement.</p>
                <p> Langue: <a href="https://microstudio.io" target="_blank">Microstudio</a></p>
                <p><a href="https://globalgamejam.org/2020/games/planet-repair-squad-8" target="_blank">GGJ lien</a></p>
                <p><a href="https://microstudio.io/gilles/planetrepairsquad/" target="_blank">Juex</a></p>
                <img class="card-img-bottom img-fluid rounded"
            src="../images/ggj2020/prix.jpeg" alt="Google Developer Prix">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
