<!-- <div class="close-animatedModal">CLOSE</div> -->
<div class="close-btn close-animatedModal close-modal-02" data-modal-close=""><span class="btn-line"></span></div>
<div class="lightbox-wrapper modal-content">
  <div class="container details-02">
    <!-- <div class="lightbox-close">
            <div class="close-btn animatedModal-close" data-modal-close=""><span class="btn-line"></span></div>
          </div> -->
    <div class="row">
      <div class="col-12">
        <div class="section-heading page-heading">
          <p class="section-description">ESP8266 / ESP32 - Arduino </p>
          <h2 class="section-title">Laga Doll</h2>
          <div class="animated-bar"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card bg-dark text-white single-post"><img class="card-img-top" src="../images/lagadoll/lagadoll.jpeg" alt="lagadoll"><span class="content-date">Avril 2019</span>
          <div class="card-body post-content">
            <h5 class="card-title content-title">Pause Talking Play Gesture! – Frankfurt, Germany</h5>
            <p class="card-text content-description">I would consider this one of the most important participations of all my life time, basically because I was able to cooperate and incorporate many ideas in the project as the project was growing. All the participants were also my friends from Erasmus, but I didn't know the skills of each one of them and how they would work along with me. Also I felt confident with the curators:</p>
            <p>Vincent Meyrueis and Jean-François Jégo.</p>
            <p>Technical aspect:</p>
            <p>This project is divided in several parts:</p>
            <p>From one side there is the hardware part, which is basically an ESP32 module connected to several sensors such us:</p>
            <p>Flex sensor, gyroscope and a light sensor.</p>
            <p>The device was built in the form of a doll and we added also some outputs such a led lights and a vibrator motor.</p>
            <p>The other hardware built by us was a glove with a capacitor sensor and a vibrator motor on it. We used an ESP8266 module to receive the signals from the capacitor sensor and send some to the vibrator motor.</p>
            <p>We also used a router to facilitate the wifi connection between devices and laptops.</p>
            <p>From the other side, there is the software parts:</p>
            <ul>
                <li>We used node-red to connect all the devices between each others.</li>
                <li>We used the Arduino software to code both devices: the doll and the glove.</li>
                <li>We used Unity to create a virtual environment that would react according to the parameters of the doll and the glove.</li>
                <li>We used Purr-Data (PD-L2ork extension of Pure Data software) to create a Drone-Music environment that would react according to the parameters of the glove and the doll.</li>
            </ul>
            <p><a href="https://github.com/jpdibacco/creatic" target="_blank">Link</a> of the source code.</p>
            <p>In the following video you can see some photos of the doll and the process of building the devices. Also you can hear the drone-music created with Purr-Data and the virtual environment in Unity.</p>
            <video controls width="250">
                <source src="../videos/lagadoll.mp4" type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
