<!-- <div class="close-animatedModal">CLOSE</div> -->
<div class="close-btn close-animatedModal close-modal-01" data-modal-close=""><span class="btn-line"></span></div>
<div class="lightbox-wrapper modal-content">
  <div class="container details-01">
    <!-- <div class="lightbox-close">
            <div class="close-btn animatedModal-close" data-modal-close=""><span class="btn-line"></span></div>
          </div> -->
    <div class="row">
      <div class="col-12">
        <div class="section-heading page-heading">
          <p class="section-description">Photographie </p>
          <h2 class="section-title">Light Painting</h2>
          <div class="animated-bar"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card bg-dark text-white single-post"><img class="card-img-top" src="../images/light_painting/1.jpg"
            alt="light painting"><span class="content-date">Décembre 2019</span>
          <div class="card-body post-content">
            <h5 class="card-title content-title">Light Painting</h5>
            <p class="card-text content-description">Le light painting est une technique visuelle de prise de vue
              photographique basée sur la captation de la lumière, peu importe sa forme et son intensité, sur un capteur
              optique ou numérique. Cela permet de fixer la lumière dans un état temporel et d’espace. Cette technique
              consiste à modeler la lumière pour créer des compositions selon l’envie et la volonté du lightpainteur.
            </p>
            <p>Ce qui m'a poussé à travailler sur sur projet sont ma curiosité et ma volonté à en apprendre davantage
              sur la photographie et l'art du light painting.
              Les photos ont été prises avec un appareil photo Sony Alpha 6000 dans mon appartement en Italie.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <a href="/images/1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../images/light_painting/1.jpg" class="img-fluid">
          </a>
          <a href="/images/2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../images/light_painting/2.jpg" class="img-fluid">
          </a>
          <a href="/images/3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../images/light_painting/3.jpg" class="img-fluid">
          </a>
          <a href="/images/4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../images/light_painting/4.jpg" class="img-fluid">
          </a>
          <a href="/images/5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../images/light_painting/5.jpg" class="img-fluid">
          </a>
          <a href="/images/6.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../images/light_painting/6.jpg" class="img-fluid">
          </a>
          <a href="/images/7.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../images/light_painting/7.jpg" class="img-fluid">
          </a>
          <a href="/images/8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="../images/light_painting/8.jpg" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
