<div class="container" id="portfolio">
  <div class="row">
    <div class="col-12">
      <div class="section-heading page-heading">
        <p class="section-description">Showcasing some of my best work</p>
        <h2 class="section-title">Portfolio</h2>
        <div class="animated-bar"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <a href="#modal-00" class="demo-3" id="demo00">
        <div class="grid">
          <div class="grid__item">
            <div class="glitch glitch--style-1">
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
            </div>
            <h2 class="grid__item-title text-danger">Global Game Jam 2020<span>Découvrez</span></h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <a class="demo-3" id="demo01" href="#modal-01">
        <div class="grid">
          <div class="grid__item">
            <div class="glitch glitch--style-2">
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
            </div>
            <h2 class="grid__item-title">Light Painting <span>Découvrez</span></h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="demo-3">
        <div class="grid">
          <div class="grid__item">
            <div class="glitch glitch--style-1">
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
            </div>
            <h2 class="grid__item-title">Laga Doll (Creatic, France/ Allemagne) <span>Découvrez</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="demo-3">
        <div class="grid">
          <div class="grid__item">
            <div class="glitch glitch--style-2">
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
              <div class="glitch__img"></div>
            </div>
            <h2 class="grid__item-title">Artwork <span>Découvrez</span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
