<div class="container">
  <!-- <div class="lightbox-close">
      <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
    </div> -->
  <div class="row">
    <div class="col-12">
      <div class="lightbox-content">
        <div class="row">
          <div class="col-12">
            <div class="section-heading page-heading">
              <p class="section-description">Showcasing some of my best work</p>
              <h2 class="section-title">Portfolio</h2>
              <div class="animated-bar"></div>
            </div>
          </div>
        </div>
        <!-- Portfolio section-->
        <div class="portfolio-section single-section">
          <div class="row">
            <!-- Filter nav-->
            <div class="col-12">
              <ul class="list-inline filter-control filter" role="group" aria-label="Filter Control">
                <li class="list-inline-item tab-active" data-filter="all">All</li>
                <li class="list-inline-item" data-filter="brand">Brand</li>
                <li class="list-inline-item" data-filter="design">Design</li>
                <li class="list-inline-item" data-filter="photos">Photos</li>
              </ul>
            </div>
          </div>
          <!-- Thumbnail list-->
          <div class="portfolio-grid row boxes">
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4" data-category="design">
              <!-- <a class="portfolio-item" href="img/item-1.jpg"> -->
              <!-- <div class="portfolio-wrapper"> -->
              <!-- <img class="img-fluid" alt="Item" src="images/gallery/1.jpg"> -->
              <!-- <div class="item-content">
                      <h6 class="content-title">Label Tag Mockup</h6><span class="content-more">More Info</span>
                    </div> -->
              <!-- <div class="demo-3">
                      <div class="grid">
                        <div class="grid__item">
                          <div class="glitch glitch--style-1">
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                            <div class="glitch__img"></div>
                          </div>
                        </div>
                      </div>
                    </div> -->
              <!-- </div> -->
              <!-- </a> -->
            </div>
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4" data-category="photos"><a class="portfolio-item"
                href="img/item-2.jpg">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="../images/gallery/2.jpg">
                  <div class="item-content">
                    <h6 class="content-title">3D Bag Mockup</h6><span class="content-more">More Info</span>
                  </div>
                </div>
              </a></div>
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4" data-category="design"><a class="portfolio-item"
                href="img/item-3.jpg">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="../images/gallery/3.jpg">
                  <div class="item-content">
                    <h6 class="content-title">Modern Bag Design</h6><span class="content-more">More Info</span>
                  </div>
                </div>
              </a></div>
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4" data-category="brand"><a class="portfolio-item"
                href="img/item-4.jpg">
                <div class="portfolio-wrapper mb-lg-0"><img class="img-fluid" alt="Item" src="../images/gallery/1.jpg">
                  <div class="item-content">
                    <h6 class="content-title">Coffee Cup Design</h6><span class="content-more">More Info</span>
                  </div>
                </div>
              </a></div>
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4" data-category="brand"><a class="portfolio-item"
                href="img/item-5.jpg">
                <div class="portfolio-wrapper mb-0"><img class="img-fluid" alt="Item" src="../images/gallery/2.jpg">
                  <div class="item-content">
                    <h6 class="content-title">T-Shirt Design</h6><span class="content-more">More Info</span>
                  </div>
                </div>
              </a></div>
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4" data-category="photos"><a class="portfolio-item"
                href="img/item-6.jpg">
                <div class="portfolio-wrapper mb-0"><img class="img-fluid" alt="Item" src="../images/gallery/3.jpg">
                  <div class="item-content">
                    <h6 class="content-title">Packaging Box Mockup</h6><span class="content-more">More
                      Info</span>
                  </div>
                </div>
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
