<div class="resume-section single-section">
  <div class="row">
    <div class="col-12">
      <div class="section-heading page-heading">
        <h2 class="section-title">Resume</h2>
        <div class="animated-bar"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Education part-->
    <div class="col-12 col-md-6">
      <div class="col-block education">
        <h3 class="col-title">Education</h3>
        <div class="resume-item">
          <span class="item-arrow"></span>
          <h5 class="item-title">Licence de Musique et de Technologie</h5>
          <span class="item-details">Universidad Nacional de Quilmes / 2008 - Present</span>
          <p class="item-description">
            Les caractéristiques interdisciplinaires de la musique et de la technologie d'aujourd'hui permettent de
            suivre différents parcours professionnels. Celles-ci impliquent des disciplines musicales spécifiques, des
            genres artistiques divers, des genres médiatiques, des domaines technologiques et des sciences qui
            s'entremêlent de manière complexe et dynamique. Non seulement la variété des domaines de connaissance, mais
            aussi la diversité des modes de relation entre eux s'accroît de jour en jour.
          </p>
        </div>
      </div>
    </div>
    <!-- Experience part-->
    <div class="col-12 col-md-6">
      <div class="col-block experience">
        <h3 class="col-title">Expérience</h3>
        <div class="resume-item">
          <span class="item-arrow"></span>
          <h5 class="item-title">Software Engineer</h5>
          <span class="item-details">W3 Digital Agency / 2012 - 2018</span>
          <p class="item-description">
            En tant que chef d'équipe et développeur web, mes tâches sont les suivantes :</p>
          <br>
          <ul class="text-white">
            <li>Coordination, contrôle et surveillance des sites web.</li>
            <li>Analyse des besoins, estimation du temps et de la portée. Définition des délais de livraison.
              L'évaluation des risques.</li>
            <li>Gestion des attentes et interaction avec les clients et les différents secteurs de l'entreprise.</li>
            <li>Ressources en charge : équipes de développement, chefs de projet, métrologie, assurance qualité et
              commercial.</li>
            <li>Analyse et élaboration de propositions.</li>

          </ul>
        </div>
        <div class="resume-item">
          <span class="item-arrow"></span>
          <h5 class="item-title">Développeur Web</h5>
          <span class="item-details">Travailleur indépendant / 2001 - Present</span>
          <p class="item-description">Développeur Web - Développeur d'applications - Développeur de jeux</p>
          <br>
          <ul class="text-white">
            <li>Conception et développement dynamique de sites web : PHP, MySQL, HTML5, CSS, JavaScript. Optimisation
              organique des moteurs de recherche (SEO), WordPress, Joomla, Drupal.</li>

            <li>Principaux objectifs : maintenir le contenu à jour, tenir à jour les hébergements et les domaines.</li>
            <li>Technologies appliquées : HTML, CSS, JavaScript, PHP, MySQL, Cordova, Game Closure</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="skills-section single-section" id="skills">
  <div class="row">
    <div class="col-12">
      <div class="section-heading">
        <p class="section-description">
          Mon niveau de connaissance de certains outils
        </p>
        <h2 class="section-title">Mes compétences</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="single-skill" data-percentage="95">
        <div class="skill-info">
          <span class="skill-name">HTML/CSS</span><span class="skill-percentage"
            style="margin-right: 28.5px;">95%</span>
        </div>
        <div class="progress skill-progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="95"
            style="width: 95%;"></div>
        </div>
      </div>
      <div class="single-skill" data-percentage="80">
        <div class="skill-info">
          <span class="skill-name">Web Design</span><span class="skill-percentage"
            style="margin-right: 114px;">80%</span>
        </div>
        <div class="progress skill-progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80"
            style="width: 80%;"></div>
        </div>
      </div>
      <div class="single-skill" data-percentage="90">
        <div class="skill-info">
          <span class="skill-name">JavaScript</span><span class="skill-percentage"
            style="margin-right: 57px;">90%</span>
        </div>
        <div class="progress skill-progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="90"
            style="width: 90%;"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="single-skill" data-percentage="90">
        <div class="skill-info">
          <span class="skill-name">React JS</span><span class="skill-percentage" style="margin-right: 57px;">90%</span>
        </div>
        <div class="progress skill-progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="90"
            style="width: 90%;"></div>
        </div>
      </div>
      <div class="single-skill" data-percentage="95">
        <div class="skill-info">
          <span class="skill-name">Express.js</span><span class="skill-percentage"
            style="margin-right: 28.5px;">95%</span>
        </div>
        <div class="progress skill-progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="95"
            style="width: 95%;"></div>
        </div>
      </div>
      <div class="single-skill" data-percentage="80">
        <div class="skill-info">
          <span class="skill-name">TypeScript</span><span class="skill-percentage"
            style="margin-right: 114px;">80%</span>
        </div>
        <div class="progress skill-progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80"
            style="width: 80%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
